#Visual Studio files
.vs/
[Bb]in/
[Oo]bj/
*.suo
*.ssms_suo
*.sqlsuo
*.pdb
*.bak
*.user
#Visual Studio conversion files
_UpgradeReport_Files/
Backup*/
UpgradeLog*.xml
UpgradeLog*.htm
#OS
[Tt]humbs.db
.*~
*~
#Subversion
.svn
#Dependency directories
bower_components
packages
#Others