$primary_font :'Quicksand', sans-serif;
$secondary_font : 'Open Sans', sans-serif;
$white :#ffffff;
$bg_color: #fb236a;
$blue:#141f72;
$font_color:#888888;
$grey:#8a99b3;
$border_color:#e8ecec;
$black:#232323;
