.careers {
  background-image: url("../../assets/images/parallax3.jpg");
  &--img {
    margin-bottom: 1rem;
    // width:;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &--desc {
    padding: 0 0.5rem;
  }
  h4 {
    margin: 1rem 0;
    a {
      font-size: 18px;
      color: #232323;
    }
  }

  p {
    color: $font_color;
    padding-bottom: 1rem;
    margin: 0;
  }

  .section--content {
    text-align: center;
  }
  
  .card {
    border-radius: 15px;
    transition: all ease-in 0.3s;

    @include respond(lg){
      margin-bottom: 1rem;
    }
  }
  a {
    font-size: 13px;
    color: $bg_color;
    padding: 1rem 0;
    text-align: center;
    display:inline-block;
  }

  .card:hover{
    box-shadow:0px 0px 25px #0000001a;
    transform: translateY(-10px);
  }
}
