.arrow{
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: white;
    width: 80px;
    height: 80px;
    transition: all ease-in 0.5s;
   
        i{
            color: $bg_color;
            font-size: 1.5rem;
            padding: 1.75rem;
        }
        @include respond(xl){
            bottom:-32%;
        }
        @include respond(sm){
            display: none;
        }
}
.arrow:hover{
    background-color: $bg_color;
    i{
        color:white;
    }
}
